* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.entete {
  background-color: #F5F7BB;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  align-items: center;
  max-width: 100%;
}

.Mon_logo {
  transition: transform 0.4s;
  max-width: 15rem;
  margin-left: 50px;
  display: block;
  font-size: 1.9rem;
  top: 0;
  left: 0;
}

.Mon_logo:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .Mon_logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: 480px) {
  .Mon_logo {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.btnDepos {
  font-size: 16px;
  text-decoration: none;
  background-color: #BC632E;
  color: #fff;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 50px;
  display: flex;
  font-weight: bold;
  flex-direction: row;
  border: 0;
  cursor: pointer;
}

.btnDepos:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .btnDepos {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 70%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

}

a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}
a:hover {
  color: #BC632E; 
  font-size: 18px;
}
a:active {
  color: #BC632E;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 75px;
  padding: 1rem;
  background-color: #F5F7BB;
}

.navbar_links {
  display: flex;
}

.navbar_link {
  padding: 0 0.3rem;
  margin-right: 15px;
  color: inherit;
}

.navbar_burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

@media (max-width: 768px) {
  .navbar_links {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    right: -100vw;
    bottom: 0;
    height: 0vh;
    padding: 2rem;
    background-color: #F5F7BB;
    visibility: hidden;
    transition: right 0.3s;
  }

  .show-nav .navbar_links {
    right: 0;
    width: 100vw;
    visibility: visible;
    height: 50vh;
  }

  .navbar_link {
    display: block;
    padding: 1.5rem;
  }

  .show-nav {
    width: 100%;
    left: 0;
  }

  .navbar_burger {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .Burger-Bar,
  .Burger-Bar::before,
  .Burger-Bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #BC632E;
  }

  .Burger-Bar::before,
  .Burger-Bar::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .Burger-Bar::before {
    transform: translateY(-12px);
  }

  .Burger-Bar::after {
    transform: translateY(12px);
  }

  .show-nav .Burger-Bar {
    background: transparent;
  }

  .show-nav .Burger-Bar::before {
    position: relative;
    transform: rotate(45deg);
  }

  .show-nav .Burger-Bar::after {
    position: relative;
    transform: rotate(-45deg);
  }

  .navbar_item::after {
    content: "";
    display: block;
    margin: auto;
    width: 3vw;
    height: 1px;
    background: #BC632E;
  }
}


.containerCarte {
  padding-left: 15px;
  padding-bottom: 15px;
}

.contenaire {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  width: 100%;
}


.contenaireForm {
  margin: 20px 200px 100px 200px;
  background-color: #F8F9E2;
  border-radius: 14px;
  text-align: center;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 70%;
  font-size: 16px;
}

.inputtaille {
  height: 30px;
  width: 550px;
  margin-bottom: 25px;
  font-size: 16px;
}

.btntaille {
  height: 35px;
  width: 350px;
  background-color: #BC632E;
  color: #fff;
  font-weight: bold;
  border-radius: 0px;
  border: 0;
  font-size: 16px;
}

.espace {
  height: auto;
  max-width: 100%;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 768px) {
  .espace {
    font-size: 16px;
    padding: 10px;
  }

  .btntaille {
    font-size: 14px;
    margin: 10px auto;
    width: 50%;
  }

  .inputtaille {
    font-size: 14px;
    width: 70%;
    margin: 10px auto;
  }

  .contenaireForm {
    width: 80%;
    height: 450px;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .carteArticle {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.contenairePrincipale {
  justify-content: center;
  text-align: center;
}

.menuprincipal {
  background-color: #BC632E;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.echangeslogo {
  width: 60px;
  height: 100px;
}

.donslogo {
  width: 60px;
  height: 100px;
}

.serviceslogo {
  width: 60px;
  height: 100px;
}

.braderielogo {
  width: 60px;
  height: 100px;
}

.PiedDePageElements {
  background-color: #BC632E;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .PiedDePageElements {
    background-color: #BC632E;
    max-width: 100%;
    padding-bottom: 50px;
    margin-bottom: 10;
  }

}