body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Caption', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  /* max-height: 100%; */
}



